@using ASP_NET_Core.Models


<div class="demo-container">
    <div class="placeholder">Top Content</div>
    @(
    Html.DevExtreme().DataGrid<SampleOrder>()
        .ID("grid-container")
        .ShowBorders(true)
        .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("ID"))
        .ColumnWidth(100)
        .Columns(columns => {
            columns.AddFor(m => m.FirstName).Fixed(true).Width(80).FixedPosition(HorizontalEdge.Left);
            columns.AddFor(m => m.LastName);
            columns.AddFor(m => m.Supervisor);
            columns.AddFor(m => m.StartedDate);
            columns.AddFor(m => m.Position);
            columns.AddFor(m => m.Gender).Fixed(true).Width(80).FixedPosition(HorizontalEdge.Right);
            columns.AddFor(m => m.BirthDate);
        })
        .Sorting(s => s.Mode(GridSortingMode.None))
        .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
        .LoadPanel(l => l.Enabled(true))
        .Selection(s => s.Mode(SelectionMode.Multiple))
        .RemoteOperations(true)
    )
    <div class="placeholder">Bottom Content</div>
</div>
